/* GLOBAL STYLES */

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --font-family-red-hat: 'Red Hat Display', sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  gap: 2rem;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  padding: 1rem;
}


/* See https://codepen.io/baarbaracrr/pen/KKovmGb?editors=1100 */
@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  object-fit: cover;
  opacity: 10%;
}

/* TEXT */

.text {
  font-size: 1rem;
  font-family: var(--font-family-red-hat);
  color: hsl(223, 47%, 23%);
}

.text--header {
  font-weight: 900;
  font-size: 175%;
  text-align: center;
}

.text--paragraph {
  color: hsl(224, 23%, 55%);
  text-align: center;
  line-height: 175%;
}

.text--plan-name {
  font-weight: 900;
}

.text--price {
  color: hsl(224, 23%, 55%);
}

.text--link {
  font-weight: 900;
  color: hsl(245, 75%, 52%);
}

.text--footer {
  font-weight: 300;
}

/* CARD */

.card {
  background: rgba(255, 255, 255, 0.75);
  max-width: 450px;
  width: 95%;
  border-radius: 2rem;
  border: 4px rgba(255, 255, 255, 0.185) solid;
  backdrop-filter: blur(8px);
}

.card__bg {
  max-width: 100%;
  height: 250px;
  overflow: hidden; 
  border-bottom: 4px rgba(255, 255, 255, 0.185) solid;
  cursor: pointer;
  border-radius: 2rem;
}

.card__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

.card__bg:hover .card__bg-image {
  transform: scale(1.25);
  filter: hue-rotate(45deg);
}

.card__bg:active .card__bg-image {
  transform: scale(1);
  filter: hue-rotate(90deg);
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 2rem;
  width: 100%;
}

/* PLAN */

.plan {
  display: flex;
  background: hsla(228, 100%, 98%, 0.74);
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  border: 1px solid hsla(245, 75%, 52%, 0.274);
}

.plan__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: .25rem;
}

.plan__change {
  text-decoration: none;
  transition: .3s;
}

.plan__change:hover {
  color: hsla(245, 75%, 52%, 75%);
}

/* BUTTON */

.button {
  cursor: pointer;
  transition: .3s;
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: 900;
  border-radius: .75rem;
}

.button:hover, .plan__change:hover {
  transform: scale(.95);
}

.button:active, .plan__change:active {
  transform: scale(.85);
}

.button--cancel {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
}

.button--cancel:hover {
  color: hsl(223, 47%, 23%);
}

.button--submit {
  color: white;
  background-color: hsl(245, 75%, 52%);
  padding: 1rem;
  box-shadow: 0 16px 32px hsla(245, 75%, 52%, .25);
}

.button--submit:hover {
  background-color: hsla(245, 75%, 52%, 75%);
}

/* LINK */

.link {
  color: hsl(245, 75%, 52%);
  text-decoration: none;
  border-radius: .25rem;
  transition: .3s;
  display: inline-block;
  -webkit-user-drag: none;
  font-weight: 500;
}

.link:hover {
  transform: scale(.95);
  color: hsla(245, 75%, 52%, 75%);
  text-decoration: initial;
}

.link:active {
  transform: scale(.85);
}

/* FOOTER */

.footer {
  max-width: 450px;
  width: 95%;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  border: 4px rgba(255, 255, 255, 0.185) solid;
}

/* WAVES */

/* See https://codepen.io/goodkatz/pen/LYPGxQz?editors=1100 */
.waves {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height:30vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:450px;
  max-height:250px;
  z-index: -1;
  transition: .3s;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 600px) {
  .waves {
    display: none;
  }
  .plan__icon {
    display: none;
  }
  .card {
    min-height: 700px;
  }
  .page {
    min-height: 125vh;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}